{{> head}}

<div class="container">
    <div class="row">
        <!-- Button trigger modal -->
        <div class="col-6 py-5">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create task
            </button>
        </div>
        <div class="col-6 py-5">
            <form action="/tasks/assign/" method="post">
                <button type="submit" class="btn btn-primary">Assign tasks</button>
            </form>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each tasks}}
        <div class="col">
            <div class="card border-primary mb-3">
                <div class="card-body text-primary">
                    <h5 class="card-title">{{this.description}}</h5>
                    {{#each this.user}}
                        <p class="card-text">Assignee on: {{ this.name }}</p>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/tasks" method="post">
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{> footer}}
